@{
    ViewData["Title"] = "Panel";
}
<h1>Welcome in Panel</h1>
<p>Panel is only for login users.</p>
<h3>Choose options:</h3>
<button onclick="location.href='@Url.Action("Index", "Home")'">Home Page</button>
<button onclick="location.href='@Url.Action("Logout", "Account")'">Logout</button>
