@model AccountMenager.Models.Identity.LoginViewModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Sign in";
}
<h1>Sign in</h1>
<form class="form-horizontal" asp-controller="Account" asp-action="Login" method="post">
    <h5>Fill int the fields to sign in.</h5>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email">Login(E-mail):</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>
    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>
    <input type ="submit" />
</form>