@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strona główna</h1>
    <p>Strona główna, przykładowej aplikacji stworzonej w ramach zajęć na Karpackiej Państwowej Uczelni w Krośnie.<br/>
    <a href="http://www.kpu.krosno.pl">© KPU 2021</a></p>
</div>
